header.contentheader{
  position: fixed;
  top: 0;
  left: 200px;
  height: 60px;
  @include calc(width, '100% - 200px');
  box-sizing: border-box;
  background: #fff;;
  padding: 20px 40px;


  h2{
    font-size: 1.2em;
    color: darken($blue, 35%);
    float: left;
  }

  ul {
    float: right;

    li {
      display: inline-block;
    }

    a {
      padding: 5px 10px;
      float: left;
    }
  }

  @include media($mobile) {
    left: 20px;
    @include calc(width, '100% - 20px');
    padding: 20px;
  }
}
