@import 'bourbon';

@import 'bitters/variables';
@import 'bitters/grid-settings';
@import 'bitters/buttons';
@import 'bitters/forms';
@import 'bitters/lists';
@import 'bitters/tables';
@import 'bitters/typography';

@import 'neat';

body{
  margin: 0; padding: 0;
  background: #eee;
}

html,body{
  height: 100%;
  width: 100%;
}

.application{
  @import 'loading';
  @import 'sidebar';
  @import 'main';
  @import 'content-header';
}
